.card-report {
  color: red;
  min-width: 150px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 4px;
  position: relative;
  text-align: center;
  height: 150px;
}
.plus-image {
  background-image: url("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg");
  background-position: center;
  background-size: cover;
}

.lowerDiv h3, h3 {
  font-size: 3vw;
  margin: 3px 0;
}
.noImageDiv {
  background-color: rgba(0, 0, 0, 0.475);
  // position: absolute;
  // bottom: 0;
  color: white;
  height: 50%;
  font-size: 2.5vw;
  width: 100%;
  letter-spacing: 1px;
}
.lowerDiv {
  background-color: rgba(0, 0, 0, 0.475);
  position: absolute;
  bottom: 0;
  color: white;
  height: 35%;
  font-size: 2.5vw;
  width: 100%;
  letter-spacing: 1px;
}
