#geocoder {
  z-index: 100;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid black;
  box-shadow: none;
  height: 50px;
}

.form-buttons {
  background-color: white;
  max-width: none;
  width: 100%;
  border: 1px solid black;
  box-shadow: none;
  height: 50px;
}

.form-labels {
  color: #046E8F;
  font-weight: bold;
}
